.team {
    background-image: url('../Images/background.jpeg'); /* Replace 'background.jpg' with the path to your background image */
    background-size: cover; /* Adjusts the background image to cover the entire container */
    background-position: center; /* Centers the background image */
    color: rgb(13, 12, 12); /* Sets the text color to white for better visibility */
    text-align: center; /* Aligns the text content to the center */
    padding: 100px 0; /* Adds padding to the top and bottom of the container */
}

.team h1 {
    font-size: 100px; /* Adjusts the font size of the heading */
}

.team p {
    font-size: 80px; /* Adjusts the font size of the paragraph */
}


.content p {
    font-size: 2rem;

    margin: 2 auto;
}
.available-jobs {
    text-align: center; /* Center-align the text */
    font-size: 20px;
}


.job-filters select {
    width: 50%; /* Set the width of the select element to 100% */
    padding: 10px; /* Add padding for better spacing */
    font-size: 20px; /* Adjust the font size as needed */
}
.locations {
    font-size: 20px;
}
.perks{
    font-size: 20px;
}