/* Photo Gallery Styles */
.gallery-header {
    display: flex;
    justify-content: space-between;
    align-items: center;  /* Ensure items are centered vertically */
    margin-bottom: 20px;
}

.gallery-header h6 {
    margin: 0;
}

.filter-options {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.selected-filter {
    cursor: pointer;
    color: green;
    font-weight: bold;
    font-size: .7rem;
}

.filter-options {
    cursor: pointer;
    color: #a9a9a9;
    font-weight: normal;
    font-size: .7rem;
}

.search-bar {
    max-width: fit-content;
    position: static;
    display: contents;
    align-items: center;
}

.search-bar input {
    padding: 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: fit-content;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 200px;  /* Adjust as needed for your design */
    gap: 10px;
}

.gallery-grid img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.gallery-grid img:hover {
    transform: scale(1.05);  /* Zoom in on hover */
}
