/*partner page*/
/* Partner Section Styles */

.container p{
    font-size: 1rem;
}

.container h6{
    margin-top: 0px;
    margin-bottom: 10px;
}

.partner-list {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping to multiple lines */
    gap: 15px;
    justify-content: center; /* Center align all items */
    margin-top: 40px;
    margin-bottom: 40px;
}

.partner {

    width: 300px; /* Increased width for a more rectangular shape */
    height: 200px; /* Increased height for a more rectangular shape */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #f45a5a;
    border-radius: 10%;
    padding: 20px;
    width: 150px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #f45a5a;
    border-radius: 5%;
    padding: 20px 20px;

}

.partner img {
    height: 100px; /* Increased height for the logos */
    max-width: 100%;
    transition: transform 0.3s;
    border-radius: 7%;
}

.partner img:hover {
    transform: scale(1.05);
}