body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff;
    color: white;
    padding: 50px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    text-decoration-color: #007bff;
    padding: 20;
    margin: 10;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.container {
    color:  rgb(21, 19, 19);
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h2, h3 {

    text-align: center;
}

.form-group {
    margin-bottom: 40px;
    color: rgb(3, 3, 4);
    font-weight: italic;
    font-size: large;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
input[type="month"],
select {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #110f0f;
    border:#007bff;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

#total-price {
    font-weight: bold;
    color: black;
}

#payment-section {
    margin-top: 20px;
}

footer {
    background-color: #050505;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
