/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: #000;
}

a{
    text-decoration: none;
}

a:hover {
    color: #0056b3;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 5px 9%;
    font-size: .3rem;
}

.btn {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

.header {
    display:flex;
    align-items: center;
    background-color: #ffffff;

    padding: 5px 9%;
}

.header-nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

.header-nav a {
    color: #333;
    font-weight: bold;
    font-size: .8rem;
}

.middle{
    display: flex;
    justify-content: center;
    flex-grow: 1;
}
.right{
    background-color: #007BFF;
    border-radius: 5px;
    flex-grow: 0;
} 

.left, img{
    display: flex;
    align-items: center;
    background-color: #007BFF;
    max-width: 100%;
    width: 150px;
    height: auto;
}


/* Featured Section Styles */
.featured-section {
    display: flex;
    align-items: center;
    padding: 100px 9%;
    background-color: #f4f4f4;
}

.featured-container{
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.featured-content h1 {
    font-size: 5rem;
    margin-bottom: 20px;
}

.featured-content h1 span {
    color: #007BFF;
}

.featured-content .car-description {
    font-size: 22px;
    margin-bottom: 10px;
}

.featured-car-image {
    width: 100%;
    height: auto;
}

.featured-content .car-price {
    font-size: 1.25rem;
    margin-bottom: 20px;
}

.featured-image img {
    height: 80%;
    border-radius: 10px;
    transition: transform 0.3s ease;
    filter: drop-shadow(0px 20px 30px rgba(0, 0, 0, 0.5));
}

.featured-image img:hover {
    transform: scale(1.05);
}

/* Search Bar Styles */
.search-bar {
    position: relative; /* Changed to relative */
    bottom: 50px; /* Adjust the value as needed to overlap */
    background-color: white;
    padding: 20px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%; /* Adjust width as needed */
    margin: 0 auto; /* Center the search bar horizontally */
}

.search-bar select{
    border-radius: 5px;
    stroke: none;
    padding: 10px;
    font-size: large;

}

.search-bar input {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    outline: none;
    flex: 1; /* Ensure the input takes available space */
}

.search-bar button {
    border: none;
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    font-size: large;
}

.search-bar button:hover {
    background-color: #0056b3;
}

.choose-us{
    padding: 33px 9%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
}

.choose-us-grid{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 50px;
}

.choose-us p {
    margin: 0 0 30px 0; /* Add some margin to separate the heading from the grid */
}

/* Footer Part */
footer {
    background-color: #1e1d1d;
    color: #fff;
    padding: 0px 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.footer-container {
    max-width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 25px;
    margin-top: 25px;
}

.social-icons a {
    color: #fff; /* This makes the icons white */
    font-size: 1rem;
}

.footer-nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 25px;
    margin-top: 0px;
    margin-bottom: 25px;
}

.footer-nav a {
    color: #fff;
    font-weight: normal;
    font-size: .7rem;
}

.footer-credits {
    background-color: #000;
    font-size: .6rem;
    max-width: 100%;
    width: 100%;
    text-align: center;
    padding: 5px 0px;
}

/*Footer Responsiveness*/
@media (max-width: 1200px) {
    .social-icons a {
        font-size: 0.9rem;
    }

    footer nav ul li a {
        font-size: 0.9rem;
    }

    .footer-credits {
        font-size: 0.7rem;
    }
}

@media (max-width: 992px) {
    .social-icons {
        gap: 20px;
    }

    .social-icons a {
        font-size: 0.7rem;
    }

    footer nav ul li a {
        font-size: 0.7rem;
    }

    .footer-credits {
        font-size: 0.5rem;
    }
}

@media (max-width: 768px) {
    .social-icons {
        flex-direction: flex;
        gap: 15px;
    }

    .social-icons a {
        font-size: 0.9rem;
    }

    footer nav ul {
        flex-direction: grid;
        gap: 10px;
    }

    footer nav ul li a {
        font-size: 0.8rem;
    }

    .footer-credits {
        font-size: 0.5rem;
    }
}

@media (max-width: 576px) {
    .footer-container {
        padding: 0px;
    }

    .social-icons a {
        font-size: 0.8rem;
    }

    footer nav ul li a {
        font-size: 0.6rem;
    }

    .footer-credits {
        font-size: 0.4rem;
    }
}