/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: #000;
    width: 100%;
}

a {
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
}

.container {
    width: 100%;
    margin: 0 auto; /* This centers the container horizontally */
    box-sizing: border-box;
    padding: 5px 9%;
    font-size: 2rem;
}

.btn {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 33px 9%;
    background-color: #ffffff;
    border-bottom: 1px solid #e7e7e7;
}

header .header-left img {
    margin-top: 15px;
    max-width: 45% ;
}

header .header-right{
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}

header nav ul li,
header nav ul a {
    font-weight: bold;
    color: #000;
    font-size: 20px;
}

.header-btn-contact{
    background-color: #000;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
}


/* Featured Section Styles */
.featured-section {
    display: flex;
    align-items: center;
    padding: 100px 9%;
    background-color: #f4f4f4;
}

.featured-container{
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.featured-content h1 {
    font-size: 5rem;
    margin-bottom: 20px;
}

.featured-content h1 span {
    color: #007BFF;
}

.featured-content .car-description {
    font-size: 22px;
    margin-bottom: 10px;
}

.featured-content .car-price {
    font-size: 1.25rem;
    margin-bottom: 20px;
}

.featured-image img {
    height: 80%;
    border-radius: 10px;
    transition: transform 0.3s ease;
    filter: drop-shadow(0px 20px 30px rgba(0, 0, 0, 0.5));
}

.featured-image img:hover {
    transform: scale(1.05);
}

/* Search Bar Styles */
.search-bar {
    position: relative; /* Changed to relative */
    bottom: 50px; /* Adjust the value as needed to overlap */
    background-color: white;
    padding: 20px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%; /* Adjust width as needed */
    margin: 0 auto; /* Center the search bar horizontally */
}

.search-bar select{
    border-radius: 5px;
    stroke: none;
    padding: 10px;
    font-size: large;

}

.search-bar input {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    outline: none;
    flex: 1; /* Ensure the input takes available space */
}

.search-bar button {
    border: none;
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    font-size: large;
}

.search-bar button:hover {
    background-color: #0056b3;
}

.choose-us{
    padding: 33px 9%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
}

.choose-us-grid{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 50px;
}

.choose-us p {
    margin: 0 0 30px 0; /* Add some margin to separate the heading from the grid */
}

/*Testimonial Page*/
/*Rating*/
.contents {
    display: flex;
    padding: 10px 0px;
    gap: 25px;
}

.ratings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 25px 50px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: Arial, sans-serif;
    height:400px;
    width: 200px;
}

.logo-container img {
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
    background-color: #d5e9f1;
}

.ratings h2 {
    font-size: 1.5rem;
    margin: 10px 0 5px;
}

.ratings p {
    font-size: 1rem;
    color: #666;
    margin: 5px 0 15px;
}

.ratings button {
    background-color: #2D92F2;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    margin-bottom: 15px;
    font-size: 1rem;
}

.total-rating {
    margin-bottom: 15px;
}

.total-rating span {
    display: block;
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.stars {
    color: #ffcc00;
    font-size: 1.5rem;
}

.rating-seekbar {
    width: 100%;
    margin-top: 15px;
}

.rating-seekbar span {
    display: block;
    font-size: 1.25rem;
    margin-top: 1fpx;
}

.trust-bar {
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    height: 10px;
    flex-grow: 1;
    margin: 0 10px;
}

.trust-level {
    background-color: #4caf50;
    height: 100%;
    border-radius: 5px 0 0 5px;
}

.rating-seekbar span:last-child {
    font-size: 1rem;
    font-weight: bold;
}

/*Reviews*/
/* Reviews Section */
.reviews {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.reviews h6 {
    font-size: 1.25rem;
    margin-bottom: 5px;
}

.review-card {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.review-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.review-header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.review-header strong {
    font-size: 1rem;
    margin: 0;
}

.review-header span {
    font-size: 0.875rem;
    color: #666;
}

.review-rating {
    margin-left: auto;
    text-align: right;
}

.review-rating span {
    display: block;
    font-size: 0.875rem;
    color: #666;
}

.review-card p {
    font-size: 1rem;
    color: #333;
    margin: 0;
}

.see-more {
    display: inline-block;
    margin-top: 10px;
    font-size: 1rem;
    color: #007bff;
    text-decoration: none;
    text-align: right;
}

.see-more:hover {
    text-decoration: underline;
}


/*partner page*/
.partner-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-content: center;
}
.partner {
    width: 3150px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #f45a5a;
    border-radius: 5%;
    padding: 20px 20px;
}

.partner img {
    transition: transform 0.3s;
}

.partner img:hover {
    transform: scale(1.05);
}

/* About Us Section Styles */
.about {
    padding: 60px 0;
    background-color: #f4f4f4;
    text-align: center;
}

.about h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.about p {
    font-size: 1rem;
    line-height: 1.5;
}

/* Gallery Preview Section Styles */
.gallery-preview {
    padding: 60px 0;
}

.gallery-preview h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

.gallery-preview .gallery-preview-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.gallery-preview .featured-image img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.gallery-preview .featured-image img:hover {
    transform: scale(1.05);
}

/* Booking Section Styles */
/* Book Now Section Styles */
.booking {
    padding: 60px 0;
    text-align: center;
    background-image: url('../images/book-now-background.jpg'); /* Replace with your actual image path */
    background-size: cover;
    background-position: center;
    color: #fff; /* Ensure the text is readable on the background */
}

.booking h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.booking .btn {
    background-color: rgb(202, 164, 164);
    color:black;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.booking .btn:hover {
    background-color: #0fe7a3;
}


/* Footer Part */
footer {
    background-color: #1e1d1d;
    color: #fff;
    padding: 0px 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.footer-container {
    max-width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 30px;
    margin-top: 50px;
}

.social-icons a {
    color: #fff; /* This makes the icons white */
    font-size: 50px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

.footer-credits {
    background-color: #000;
    font-size: 22px;
    max-width: 100%;
    width: 100%;
    text-align: center;
    padding: 10px 0px;
}


@media only screen and (max-width: 600px) {
    
}